@font-face {
	font-family: badaboom;
	src: url('/fonts/badaboom.ttf');
}

@font-face {
	font-family: cat;
	src: url('/fonts/DK The Cats Whiskers.otf');
}

@font-face {
	font-family: antipasto;
	src: url('/fonts/antipasto.otf');
}

@font-face {
	font-family: avengers;
	src: url('/fonts/avengers.ttf');
}
* {
	padding: 0px;
	margin: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	font-size: 16px;
}
/*
	BASIC SETUP
*/

.content {
	width: 100%;
	height: 100%;
	min-height: 450px;
	position: absolute;
	top: 0px;
	-webkit-transition: left 0.7s ease-in-out;
	-moz-transition: left 0.7s ease-in-out;
	transition: left 0.7s ease-in-out;
}

.content.introBody {
	background-color: rgba(135, 45, 45, 1);
}

.content.eventsBody {

	background-image: url('events.png');
	background-size: 100% 100%;
}
.content.active {
	left: 0px;
	z-index: 8;
}

.content.inactive {
	left: 120%;
	z-index: 5;
}

.content.transition {
	z-index: 1;
	left: -100%;
}

.warning {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 13, 26, 1);
	position: fixed;
	top: 0px;
	display: none;
}

/*
	NAV BAR
*/

.navIcon {
	width: 40px;
	position: fixed;
	top: 30px;
	right: 40px;
	z-index: 20;
	cursor: pointer;
}

.navIcon .line {
	width: 100%;
	height: 5px;
  background-color: #714463;
	margin-bottom: 5px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	position: relative;
}

.navIcon.notClicked .line {
	-webkit-transform-origin: 0px 50%;
	-moz-transform-origin: 0px 50%;
	transform-origin: 0px 50%;
}

.navIcon.notClicked:hover .line1 {
	width: 70%;
}

.navIcon.notClicked:hover .line3 {
	width: 70%;
}

.navIcon.clicked {
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.navIcon.clicked .line1 {
	top: 10px;
	-webkit-transform: rotateZ(-45deg);
	-moz-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
}

.navIcon.clicked .line2 {
	opacity: 0;
}

.navIcon.clicked .line3 {
	top: -10px;
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.menu {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 1);
	position: fixed;
	left: 0px;
	z-index: 20;
	padding-top: 15%;
}

.menu.invisible {
   left:-100%;
}

.menu.visible {
	left:0px;
}

.menuItem {
	display: inline-block;
	width: 32%;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
}

.menuItem svg {
	width: 50%;
}

.menuItemImg {
	position: relative;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.menuItemImg.notinview {
	top: -1000px;
}

.menuItemImg.inview {
	top: 0px;
}

.menuItemName {
	position: relative;
	color: white;
	font-family: badaboom;
	padding: 20px;
	font-size: 2em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.menuItemName.notinview {
	bottom: -800px;
}

.menuItemName.inview {
	bottom: 0px;
}

.menuItemRegister {
	width: 100%;
	font-size: 2em;
	padding: 20px;
	display: none;
	font-family: badaboom;
	position: relative;
	text-decoration: center;
	color: white;
	bottom: -800px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.menuItemNameRegister {
	width: 100%;
	text-align: center;
}

.menuItemRegister.inview {
	bottom: 0px;
}

.menuItemRegister a {
	display: block;
	color: white;
	text-decoration: none;
}

.registerLinkMenu {
	display: none;
}
