/*
	EVENTS BODY
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
.menuItem  a{
	 text-decoration: none;
	 color: #fff;
}

.eventsBody {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.eventsBody .left {
	width: 23%;
	background-color: #714463;
	position: absolute;
	left: 0px;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

.completeMenu {
	position: relative;
	padding: 20px 0px;
}

.eventsBody .left.active {
	left: 0px;
}

.eventsBody .left.unactive {
	left: 0px;
}

ul {
	position: absolute;
	width: 100%;
	z-index: 10;
	margin-top:50px;
}

li.clubItems {
	display: block;
	color: white;
	font-size: 1.6em;
	height: 60px;

	text-align: center;
	line-height: 60px;
	cursor: pointer;
}
li.clubItems:hover {
color: #714462;
background-color: #ecefee;
}
li.active {
color: #714462;
background-color: #ecefee;
}
.eventsMenuSpiderman {
	position: absolute;
	height: 70px;
	width: auto;
	left: 8%;
	width: 100%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	z-index: 1;
}

.spiderWeb {
	width: 2px;
	position: absolute;
	background-color: white;
	top: 0px;
	left: calc(8% + 22px);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.eventsBody .right {
	width: 75%;
	left: 25%;
	position: absolute;
	height: 100%;
	text-align: center;
}

.aEvent {
	display: inline-block;
	background-image: url("https://s3.ap-south-1.amazonaws.com/hillffair2016/images/spiderman-web.svg");
	background-size: 100% 100%;
	margin-bottom: 20px;
}

.aEvent .nameOfEvent {
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.9);
	font-size: 1.7em;
	color: white;
  font-family: 'Roboto', sans-serif;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;

}

.eventType1 {
	-webkit-transform: rotateZ(10deg);
	-moz-transform: rotateZ(10deg);
	transform: rotateZ(10deg);
}

.eventType2 {
	-webkit-transform: rotateZ(-10deg);
	-moz-transform: rotateZ(-10deg);
	transform: rotateZ(-10deg);
}

.events {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	overflow-x: hidden;
}

.events0 {
	padding-top: 8%;
}

.events1 {
	padding-top: 5%;
}

.events2 {
	padding-top: 0%;
}

.events3 {
	padding-top: 8%;
}

.events4 {
	padding-top: 8%;
}

.events5 {
	padding-top: 0%;
}

.events6 {
	padding-top: 8%;
}

.events7 {
	padding-top: 8%;
}

.events8 {
	padding-top: 15%;
}

.events9 {
	padding-top: 8%;
}

.oneEvent.aEvent {
	padding: 25%;
}

.coreTeamEvents {
	padding: 10% 0px;
	width: 100%;
	height: 100%;
}

.threeEvents.aEvent {
	padding: 12.5%;
	padding-bottom: 4%;
	padding-left: 5%;
}

.twoEvents.aEvent {
	padding: 15%;
}

.events.outsideRight {
	visibility: hidden;
	right: -100%;
}

.events.insideBody {
	right: 0px;
}

.eventsBody .clubIcon {
	position: fixed;
	left: 20px;
	top: 20px;
	  font-family: 'Roboto', sans-serif;
	color: #fff;
	padding: 10px;
	background-color: #714463;
	z-index: 3;
	border-radius: 5px;
	display: none;
	cursor: pointer;
}
.eventsBody .clicked1{
	color:#714463;
	background-color: #e1dfde;
}
.navIcon.notClicked .line {
	-webkit-transform-origin: 0px 50%;
	-moz-transform-origin: 0px 50%;
	transform-origin: 0px 50%;
}

.navIcon.notClicked:hover .line1 {
	width: 70%;
}

.navIcon.notClicked:hover .line3 {
	width: 70%;
}
.eventsNotice {
  font-family: 'Roboto', sans-serif;
	color: black;
	margin-top: 80px;
	padding: 10px 20px;
	font-size: 1.5em;
	background-color: rgba(255, 255, 51, 0.4);
	border: 2px solid black;
	display: inline-block;
	position: relative;
	box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.5);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.eventsNotice:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	transform: scale(1.2);
}

.eventDetails{
	background-color: #dcdbdc;
  padding-top:15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
	max-width:250px;
	  font-family: 'Roboto', sans-serif;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.content.eventsBody {

	background-image: url(images/dd1.jpg);
	background-size: 100% 100%;
}
@media screen and (max-width:430px){
	.events5 {
		padding-top: 8%;
	}
	.threeEvents.aEvent {
		padding: 12.5%;
		padding-bottom: 4%;
	}
	.events2 {
		padding-top: 8%;
	}
	.events2 .eventDetails{
		max-width:200px;
	}
	.content.eventsBody {

		background-image: url(images/dd2.jpg);
		background-size: 100% 100%;
	}
}
