@media (max-height: 400px) and (min-width: 751px) {
	.warning {
		display: block;
		width: 100%;
		height: 100%;
		color: white;
		z-index: 100000;
	}

	.content {
		display: none;
	}

}
@media(min-width:751px){
	.menu{
		display: none;
	}
	.navIcon{
		display: none;
	}

}
@media (max-height: 500px) and (min-width: 751px) {
	.scrollNotice {
		display: none;
	}
}
@media (max-width: 751px){
	.menu{
		display: block;
	}
	.navIcon{
		display: block;
	}
	.navIcon {
		width: 30px;
		right: 20px;
		top: 20px;
	}

	.navIcon .line {
		height: 4px;
	}

	.navIcon.clicked .line1 {
		top: 8px;
		-webkit-transform: rotateZ(-45deg);
		-moz-transform: rotateZ(-45deg);
		transform: rotateZ(-45deg);
	}

	.navIcon.clicked .line2 {
		opacity: 0;
	}

	.navIcon.clicked .line3 {
		top: -8px;
		-webkit-transform: rotateZ(45deg);
		-moz-transform: rotateZ(45deg);
		transform: rotateZ(45deg);
	}

	.menuItem {
		width: 100%;
	}

	.menuItem svg{
		display: none;
	}

	.menuItemImg{
		display: none;
	}

	.menuItemName {
		display: inline-block;
		width: 100%;
		margin: 0px;
		padding: 3% 0px;
	}

	.helper {
		display: none;
		height: 0px;
	}

	.fixedIntro, .absoluteIntro {
		position: relative;
	}

	.hillffair {
		font-size: 4em;
	}

	.intro {
		text-align: center;
		height: 100%;
	}

	.mainNickFury {
		top: 40%;
	}

	.mainSpiderman {
		width: 100px;
	}

	.intro .logo img {
		width: 80%;
	}

	.scrollNotice {
		bottom: 50px;
	}

	.next {
		position: relative;
	}

	.frontLayer {
		position: relative;
		height: 100%;
	}

	.restOfLanding {
		position: relative;
		width: 100%;
		height: auto;
		top: 0px;
	}

	.aboutHillffair {
		height: auto;
		width: 100%;
		position: relative;
		left: 0px;
		top: 0px;
		background-color: rgba(0, 0, 0, 0.6);
		color: white;
		box-shadow: none;
	}

	.sponsors {
		height: auto;
		width: 100%;
		position: relative;
		left: 0px;
		top: 0px;
		background-color: rgba(0, 0, 0, 0.6);
		color: white;
		box-shadow: none;
		border-top: 1px solid rgba(255, 255, 255, 0.4);
	}

	.sky1 {
		width: 20%;
		top: 10%;
	}

	.sky2 {
		width: 30%;
		top: 20%;
	}

	.sky3 {
		width: 40%;
		top: 35%;
	}

	.sky4 {
		width: 20%;
		top: 45%;
	}

	.sky5 {
		width: 30%;
		top: 55%;
	}

	.sky6 {
		width: 40%;
		top: 70%;
	}

	.sky7 {
		width: 20%;
		top: 80%;
	}

	.sky8 {
		width: 40%;
		top: 90%;
	}

	.contact {
		height: auto;
	}

	.galleryBody .left {
		display: none;
	}

	.galleryBody .right {
		position: relative;
		left: 0px;
		width: 100%;
		padding: 10px 20px;
	}

	.content.inactive {
		left: 120%;
		z-index: 5;
		display: none;
	}

	.eventsBody .left {
		width: 100%;
	}

	.completeMenu {
		margin-top: 5%;
	}

	.eventsMenuSpiderman, .spiderWeb {
		display: none;
	}

	li.clubItems {
		height: 50px;
		line-height: 50px;
	}

	li.clubItems:hover {
		color: rgba(255, 255, 255, 0.7);
	}

	.eventsBody .left {
		background-color: #714463;;
		z-index: 2;
	}

	.eventsBody .right {
		width: 100%;
		left: 0px;
	}

	.eventsBody .right .events {
		overflow-y: auto;
	}

	.eventsBody .left.active {
		left: 0px;
	}

	.eventsBody .left.unactive {
		left: -100%;
	}


	.eventsBody .clubIcon {
		display: inline-block;
	}

	.aEvent {
		margin: 20px;
	}

	.eventsBody .right {
		padding: 0px;
	}

	.eventsNotice {
		margin-top: 80px;
		font-size: 1em;
	}

	.cloud {
		display: none;
	}

	.batmanTitle {
		width: 90%;
		top: 85%;
		left: 5%;
		text-align: center;
		display: inline-block;
	}

	.date {
		font-size: 2em;
		margin-top: 60px;
	}

	.theme {
		font-size: 3em;
		margin-top: 80px;
	}

	.tagline {
		font-size: 1.2em;
		margin-top: 0px;
	}

	.smallMenu {
		display: none;
	}

	.menuItemRegister {
		display: inline-block;
	}
}

@media(max-width: 1000px) and (min-width: 751px){
	.eventsBody .left {
		width: 30%;
		background-color: rgba(0, 0, 0, 0.6);
		position: absolute;
		left: 0px;
		height: 100%;
	}

	.eventsBody .right {
		width: 70%;
		left: 30%;
		position: absolute;
		height: 100%;
	}
}

@media(max-width: 751px) and (min-width: 650px){
	.intro .logo img {
		width: 60%;
	}
	.menu{
		display: block;
	}
	.navIcon{
		display: block;
	}
}
